body {
  background: url("../img/SpaceBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #cccccc;
}
 label{
   font-family: 'Space Mono', monospace;
   font-size: 20px;
   color: white;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  color: white;
}
p {
  color: white;
}

#logo {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#pizzaOrder, #priceGoesHere {
  font-family: 'Space Mono', monospace;
  color: white;
  text-align: center;
}
#pizzaOrderSpace {
  border: 1px solid purple;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}


.form-group {
  border: 1px solid purple;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.radio-group {
  color: white;
}

.btn-info {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
